body { margin: 0; }

article {
  line-height: 20px;
  margin-left: auto;
  margin-right:auto;
  max-width: 680px;
  padding: 0 10px;
}

#bg-1, #bg-2, #bg-3 {
  position: relative;
  width : 100%;
}

.hero-mask {
  height: 400px;
  overflow: hidden;
}
